{% extends 'base.html' %}
    {% block content %}
    <main role="main" class="container">
    <form action="" method="post" novalidate>
         {{ form.hidden_tag() }}
         <div class=" row-cols-7 p-2 mt-2 d-flex justify-content-between rounded ">
            {% if 'Business' in sel_cat %}
                <p>{{ form.Business(checked="True") }} {{ form.Business.label }}</p>
            {% else %}
                <p>{{ form.Business() }} {{ form.Business.label }}</p>
             {% endif %}

            {% if 'Economy' in sel_cat %}
                <p>{{ form.Economy(checked="True") }} {{ form.Economy.label }}</p>
            {% else %}
                <p>{{ form.Economy() }} {{ form.Economy.label }}</p>
             {% endif %}

            {% if 'Humor' in sel_cat %}
                <p>{{ form.Humor(checked="True") }} {{ form.Humor.label }}</p>
            {% else %}
                <p>{{ form.Humor() }} {{ form.Humor.label }}</p>
             {% endif %}

            {% if 'Politics' in sel_cat %}
                <p>{{ form.Politics(checked="True") }} {{ form.Politics.label }}</p>
            {% else %}
                <p>{{ form.Politics() }} {{ form.Politics.label }}</p>
             {% endif %}

            {% if 'Education' in sel_cat %}
                <p>{{ form.Education(checked="True") }} {{ form.Education.label }}</p>
            {% else %}
                <p>{{ form.Education() }} {{ form.Education.label }}</p>
             {% endif %}

            <p>{{ form.submit(class="btn btn-primary") }}</p>
    </div>
    </form><br>

        <div class="list-group shadow-sm">
            {% for news in newsList %}
          <div  class="list-group-item">
              <div class=" row-cols-3 p-2 mt-2 d-flex justify-content-between rounded ">
                            <div class="d-flex flex-column">
                               <h3> <span class="articles">{{news.title}}</span> </h3><br>
                            </div>
                            <div class="d-flex">
                                {% for i in news.categories %}
                                    <span class="articles">{{i.name}} &#160</span><br>
                                {% endfor %}
                            </div>
                            <div class="d-flex flex-column">
                                    <div class=" text-end ">{{userDic[news.user_id]}}</div>
                                    {% if admin|int == 1 or is_auth|int == news.user_id|int %}
                                    <div class=" d-inline-flex mt-2 mt-md-0 ms-md-auto ">
                                        <a class="me-3 py-2 text-dark text-decoration-none" href="/createPost/updatePost/{{news.id}}">Изменить</a>
                                        <a class="me-3 py-2 text-dark text-decoration-none" href="/deleteNews/{{news.id}}">Удалить</a>
                                    </div>
                                    {% endif %}
                            </div>
                        </div>
              <p class="list-group-item-text">{{ news.content }}</p>
          </div>
            {% endfor %}
        </div><br>
         <div class="cantainer">
        <div class="pagination justify-content-center">
        <a href="/?page=0" class="page-link">&laquo;</a>
        {% for page in range(pagecount) %}
            <a href="/?page={{ page }}" class="page-link">{{ page + 1 }} </a>
        {% endfor %}
        <a href="/?page={{pagecount - 1}}" class="page-link">&raquo;</a>
</div>
    </main>
    {% endblock %}