{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center" xmlns="http://www.w3.org/1999/html">
    <div class="card p-3">
        <div class="d-flex align-items-center">
                <div class="image"> <img src="{{ url_for('static', filename='photos/' + user['photo']) }}" class="rounded" width="75%"> </div>
                <div class="ml-3 w-100 text-center">
                    <form  method="POST">
                        <h4 class="mb-0 mt-10">
                        <input class="container text-center edit-text" name='name' type="text" value="{{user[1]}}" {% if is_auth|int != user[0]|int and admin|int != True|int %} readonly="True" {% endif %} >
                        </h4>
                    <span text-center>{% if user[5] == True %} <p>Администратор</p> {% else %} Пользователь {% endif%} </span>
                        <div class=" row-cols-2 p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column">
                                <span class="articles">Возраст</span>
                                <span class="number1">
                                    <input class="container text-center edit-text" name='age' type="text" value="{{user[3]}}" {% if is_auth|int != user[0]|int and admin|int != True|int %} readonly="True" {% endif %} >
                                </span>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="followers">E-mail</span>
                                <span class="number2">
                                    <input class="container text-center edit-text" name='email' type="text" value="{{user[2]}}" {% if is_auth|int != user[0]|int and admin|int != True|int %} readonly="True" {% endif %} >
                                </span>
                            </div>
                        </div>
                        <br>
                        <p><input class="btn btn-primary" id="submit" name="submit" type="submit" value="Сохранить"></p>
                    </form>
                        {% if is_auth|int == user[0]|int %}
                        <a href="/createPost/">
                            <p><input class="btn btn-primary"  name="submit" type="submit" value="Добавить Новость"></p>
                        </a>
                        {% endif %}
                </div>
        </div>
    </div>
</div>
<div class="container">
     <div class="list-group shadow-sm">
            {% for news in newsList%}
          <div  class="list-group-item">
              <div class=" row-cols-3 p-2 mt-2 d-flex justify-content-between rounded ">
                            <div class="d-flex flex-column">
                               <h3> <span class="articles">{{news.title}}</span> </h3><br>
                            </div>
                            <div class="d-flex">
                                {% for i in news.categories %}
                                    <span class="articles">{{i.name}} &#160</span><br>
                                {% endfor %}
                            </div>
                            <div class="d-flex flex-column">
                                    <div class=" text-end ">{{user.name}}</div>
                                    {% if admin|int == 1 or is_auth|int == news.user_id|int %}
                                    <div class=" d-inline-flex mt-2 mt-md-0 ms-md-auto ">
                                        <a class="me-3 py-2 text-dark text-decoration-none" href="/createPost/updatePost/{{news.id}}">Изменить</a>
                                        <a class="me-3 py-2 text-dark text-decoration-none" href="/deleteNews/{{news.id}}">Удалить</a>
                                    </div>
                                    {% endif %}
                            </div>
                        </div>
              <p class="list-group-item-text">{{ news.content }}</p>
          </div>
            {% endfor %}
            </div>
</div>

{% endblock %}